@page
@model webapi_app_.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .container {
            padding-top: 50px;
        }

            .container table {
                padding-top: 30px;
            }

        #companys {
            text-align: center;
            font-size: 40px;
        }
    </style>
</head>

<body>

    <div id=" companys">
        <nav class="" id="companys">
            <a id="companys" class="navbar-brand" href="#">Company item Prices </a>
            <button class="btn btn-dark rounded-circle" data-toggle="modal" data-target="#additem">&#43;<a data-target="#additem">Add</a></button>

            
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                    </li>

                </ul>

            </div>
        </nav>


        <div class="container">
            <table class="table table-striped  table-warning table-bordered rounded">
                <thead class="thead-dark rounded">
                    <tr class="rounded">
                        <th scope="col">Company</th>
                        <th scope="col">Price Per item ($) </th>
                        <th scope="col">Number of items</th>
                        <th>
                            Update

                        </th><th>Delete</th>


                    </tr>
                </thead>
                <tbody id="items">
                </tbody>
            </table>
        </div>
    </div>







    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var uri = 'api/items';

        $(document).ready(function () {
            // Gets all item records
            $.getJSON(uri)
                .done(function (data) {

                    $("#itemTemplate").tmpl(data).appendTo("#items");
                });
        });

        function additem() {
            var _company = $('#company').val();
            var _price = $('#price').val();
            var _number_of_items = parseInt($('#number_of_items').val());

            var item = {
                numberofitems: parseInt(_number_of_items),
                price: parseFloat(_price),
                company: _company

            };

            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(item),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Added a item record");
                getAllitems();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("Error adding item");
            });


        }

        function getAllitems() {

               $.getJSON(uri)
                   .done(function (data) {

                       $("#items").text("");

                    $("#itemTemplate").tmpl(data).appendTo("#items");
                });

        }

        function remove(id) {


            var yes = confirm("Delete this item item?");

            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,

                }).done(function (response) {

                    getAllitems();
                });

            }


        }


        function updateitem() {
              var _company = $('#_company').val();
            var _price = $('#_price').val();
            var _number_of_items = parseInt($('#_number_of_items').val());



            var item = {
                id : parseInt($('#_id').val()),
                numberOfitems: _number_of_items,
                price: parseFloat( _price),
                company:  _company



            };

            $.ajax({
                type: "PUT",
                url: uri+"/"+ $('#_id').val(),
                data: JSON.stringify(item),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Updated item");
                getAllitems();
            }).fail(function (jqXHR, textStatus) {
                          $("#resultUpdate").html("Error updating item");
               });;




        }



        function getitem(id) {

             $.ajax({
                type: "GET",
                url: uri+"/"+id,
               contentType: "application/json"
             }).done(function (response) {

                  $('#_id').val(response.id);
                 $('#_price').val(response.price) ;
                 $('#_company').val(response.company);
                 $('#_number_of_items').val(response.numberOfitems);





            });


        }
    </script>



    <script id="itemTemplate" type="text/x-jquery-tmpl">

        <tr>

            <td> ${company}</td>
            <td>${price}</td>
            <td>${numberOfitems}</td>


            <td> <button class="btn btn-outline-primary" onclick="getitem('${id}')" data-toggle="modal" data-target="#updateitem">Update</button></td>
            <td> <a href="#" class="btn btn-outline-danger" onclick="remove('${id}')">Delete</a></td>

        </tr>
    </script>



    <div class="modal" tabindex="-1" role="dialog" id="additem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Company</label>
                            <input type="text" class="form-control" id="company" aria-describedby="emailHelp" placeholder="Compnay">

                        </div>
                        <div class="form-group">
                            <label for="model">Price</label>
                            <input type="number" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Price">

                        </div>
                        <div class="form-group">
                            <label for="model">Number Of items</label>
                            <input type="number" class="form-control" id="number_of_items" aria-describedby="emailHelp" placeholder="Number of items">

                        </div>


                        <div class="form-group" id="result">


                        </div>
                        <button type="button" onclick="additem()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal" tabindex="-1" role="dialog" id="updateitem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update item Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="_id" aria-describedby="emailHelp">

                        </div>

                        <div class="form-group">
                            <label for="name">Company</label>
                            <input type="text" class="form-control" id="_company" aria-describedby="emailHelp" placeholder="Compnay">

                        </div>
                        <div class="form-group">
                            <label for="model">Price</label>
                            <input type="number" class="form-control" id="_price" aria-describedby="emailHelp" placeholder="Price">

                        </div>
                        <div class="form-group">
                            <label for="model">Number Of items</label>
                            <input type="number" class="form-control" id="_number_of_items" aria-describedby="emailHelp" placeholder="Number of items">

                        </div>



                        <div class="form-group" id="resultUpdate">


                        </div>
                        <button type="button" onclick="updateitem()" class="btn btn-primary">Update item Record</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>